OPENAI_KEY=?
OLLAMA_URL=http://localhost:11434

OPENWEBUI_URL=http://localhost:12000
OPENWEBUI_KEY=?

LLM_MODEL=qwen3.5:4b

AGENT_MODEL=qwen3.5:9b
GRAPH_BUILDER_MODEL=gpt-5.6-luna
EMBEDDING_MODEL=bge-m3:latest
EMBEDDING_DIM=1024

GRAPH_DB_URL=bolt://localhost:7687
GRAPH_DB_PASSWORD=password12345

# Score pozyskiwania z RAG
ASSISTANT_MIN_SCORE=0.65