OLLAMA_URL=http://localhost:11434
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1


LLM_MODEL=gpt-5.6-luna
EMBED_MODEL=bge-m3
EMBED_MODEL_DIM=1024
GRAPH_MODEL=gpt-5.6-luna



VECTOR_DB_PASSWORD=postgres
VECTOR_DB_NAME=vector-db

GRAPH_DB_URL=bolt://localhost:7687
GRAPH_DB_PASSWORD=password12345



ASSISTANT_MIN_SCORE=0.7